body {
    font-family: 'Open Sans', sans-serif;
}

.financial p {
    font-size: 15px;
    line-height: 0;

}

.line {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.233);
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.small-circle {
    width: 40px;
    /* Adjust size as needed */
    height: 40px;
    /* Adjust size as needed */
    background-color: gray;
    /* Gray color for the circle */
    border-radius: 50%;
    /* Makes the circle */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* Icon color */
}

.person-data {
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.work-text {
    margin: 0;
    font-size: 12px;
    color: #666;
    /* Light gray for the label */
    line-height: 1;
    /* Ensures proper spacing */
}

.flex-container {
    display: flex;
    align-items: center;
    /* Centers items vertically */
}

.icon-container {
    display: flex;
    align-items: center;
    /* Centers icon vertically within its container */
}

.addtocart-btn {
    background: #4d8144;
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 12px;
}

.main-name {
    font-size: 20px;
    font-weight: bold;

}



.line-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.line_1 {
    flex: 1;
    border-bottom: 1px solid #00000054;
    /* Adjust the color and thickness of the line as needed */
}

.between-line-text {
    padding: 0 10px;
    font-size: 15px;
    color: #000000c4;
    font-weight: 400;

}

.business-hours-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.business-hours-table td {
    padding: 8px;
    text-align: center;
}

.business-hours-table tr:nth-child(even) {
    background-color: #f2f2f2;
}